{
  "overrides": [
    {
      "files": "**.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    },
    {
      "files": ["**.ts", "**.js"],
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true,
        "useTabs": false,
        "endOfLine": "auto"
      }
    },
    {
      "files": "**.json",
      "options": {
        "tabWidth": 2,
        "printWidth": 200
      }
    }
  ]
}
